// Variables
$black: #000;
$white: #fff;
$bodyFont: 'Courier New', monospace;

*{
  box-sizing: border-box;
}

html,
body {
  background: blue;
  color: $white;
  font-family: $bodyFont;
  position: relative;
  min-height: 100%;
}

main {
  padding: 50px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  font-weight: normal;
}

a {
  color: gold;
  font-weight: bold;
}

.top-marquee, .bottom-marquee {
  position: absolute;
  left: 0;
  height: auto;
}

.top-marquee {
  top: 0;
}

.bottom-marquee {
  bottom: 0;
}

.logo {
  max-width: 350px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.hero {
  width: 100%;
}

footer {
  text-align: center;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.button {
  border: solid 5px;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
  background: #ff67d0;
  color: black;
}

.button:hover {
  box-shadow: 5px 5px white;
  transform: translate(-5px, -5px);
}

.button:active {
  box-shadow: none;
  transform: none;
}

.button--green {
  background: #67ff6c;
}

ul {
  line-height: 2;
}

.ul--contact {
  list-style: none;
  padding-left: 25px;
}

.svg-inline--fa {
  width: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}